:root {
    --white: #f9f9f9;
    --white-transparent: rgba(255,255,255,0.3);
    --white-transparant-input: rgba(255 255 255,0.5) ;
    --black: #121212;

    --pink: #fd00ff;
    --blue: #00adff;

    --iron: #848484;
    --bronze: #cd7f32;
    --silver: #c0c0c0;
    --gold: #ffd700;
    --platinum: #e5e4e2;
    --ascendent: #4caf50;
    --immortal: #ff69b4;
    --radiant: #ff4500;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Verdana, sans-serif;
	font-size: 62.5%;
    background: var(--black);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#match-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--white-transparent);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    padding: 15px 20px;
}

#match-data label,
#match-data input {
    font-size: 2em;
    margin: 7px auto;
    text-align: center;
}

#match-data label {
    font-weight: bold;
}

#match-data input {
    background: var(--white-transparant-input);
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--black);
}

#match-data input::placeholder {
    color: var(--black);
}

#match-data button {
    background: var(--blue);
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px 7px;
    box-shadow: unset;
    border: unset;
    border-radius: 5px;
    margin-top: 15px;
}

#match-data button:hover {
    opacity: 0.8;
}

#output h1 {
    background: var(--black);
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 15px;
    color: var(--white);
    margin: 15px auto 0 auto;
}